name: create package
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags: '*'
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.6' # Replace this with the minimum Julia version that your package supports. E.g. if your package requires Julia 1.5 or higher, change this to '1.5'.
          - '1' # Leave this line unchanged. '1' will automatically expand to the latest stable 1.x release of Julia.
          #- 'nightly'
        os:
          - ubuntu-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - uses: julia-actions/julia-buildpkg@v1
      - name: create package
        run: julia -e "using Pkg;Pkg.generate(\"test\"); Pkg.activate(\"test\"); Pkg.add(Pkg.PackageSpec(name=\"BlackBoxOptim\",version=\"0.5.0\")); Pkg.add(Pkg.PackageSpec(name=\"MiniQhull\",version=\"0.2.0\")); Pkg.add(Pkg.PackageSpec(name=\"Distances\",version=\"0.7.0\"))" && echo -e "\n[compat]\njulia = \"1.3.0\"\nMiniQhull = \"0.2.0\"\nBlackBoxOptim = \"0.5.0\"\nDistances = \"0.7.0, 0.9.0\"" >> test/Project.toml && julia -e "using Pkg; Pkg.activate(\"test\"); Pkg.add(Pkg.PackageSpec(name=\"Distributions\",version=\"0.25\")); Pkg.add(\"AlphaShapes\")"

